header{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    width: 817px;
    height: 68px;
    left: auto;
    top: auto;
    border: 1px solid #000000;
    background: #C4C4C4;
}

h1{

    
    position: absolute;
    left: 25px;
    top: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #000000;

}

.section_msg{
    display:block;
    /*box-sizing: border-box;

    position: absolute;
    width: 777px;
    height: 62px;
    left: 20px;
    top: 80px;
*/
    background: #FAFAFA;
    /*border: 1px solid #000000;*/
}
body{
    
    display: flex;
    box-sizing: border-box;
    display: flexbox;
    position: absolute;
    width: 817px;
    height: 600px;
    left: 309px;
    top: 139px;

    border: 1px solid #000000;
}

p{
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 737px;
    height: 42px;
    left: 10px;
    top: 60px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #000000;

    color: #000000;
}


.box_botao_ed{
    display: flex;
    position: absolute;
    width: 47px;
    height: 26px;
    left: 700px;
    top: 143px;
   

}
.botao_ed{
    display: flex;
    position: absolute;
    width: 47px;
    height: 26px;
    left: auto;
    top: auto;

    background: #F7A75D;
    align-items: center;
}


.box_botao_ex{
    display: flex;
    position: absolute;
    width: 47px;
    height: 26px;
    left: 749px;
    top: 143px;
    

}
.botao_excluir{
    display: flex;
    position: absolute;
    width: 47px;
    height: 26px;
    left: auto;
    top: auto;

    background: #F75D5D;
    align-items: center;
}


.box_inferior {
 
    box-sizing: border-box;
    display: flex;
    position: absolute;
    width: 609px;
    height: 170px;
    left: 100px;
    top: 428px;

    background: #C4C4C4;
    border: 1px solid #000000;
}

textarea{
    display: flex;
    gap: 0.75rem;
    padding: 0.25rem;

    display: flex;
    box-sizing: border-box;

    position: relative;
    width: 500px;
    height: 150px;
    left: 18px;
    top: 8px;

    background: #FAFAFA;
    border: 1px solid #000000;
}

.box_botao_enviar{
    display:flex;
    position: absolute;
    width: 70px;
    height: 36px;
    left: 538px;
    top: 1px;

}

.botao_enviar{
    display: flex;
    position: absolute;
    width: 70px;
    height: 36px;
    left: auto;
    right: 12px;
    top: 12px;
    

    background: #0066CC;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    
}
